    <!-- About Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="img/about.jpg" alt="Image">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="section-header text-left">
                        <h3>敲敲裝修網 精選專家</h3>
                        <h2>專業維修服務，25年經驗，隨時為您服務</h2>
                    </div>
                    <div class="about-text">
                        <p>您正在尋找一個信賴的家居維修服務，擁有超過25年的豐富經驗嗎？別再猶豫，來到敲敲裝修網，我們的專業團隊將為您提供優質的服務。 </p>
                        <p>我們的專業團隊在水電行業已有25年以上的豐富經驗，技術優越。我們承諾持續提供卓越的服務，確保您的家得到最好的照顧。 </p>
                        <p>我們深知您的家對您有著無比的重要性，因此我們對每一位客戶的住所都像對待自己家一樣細心專業。我們嚴謹的檢查和細致的維修，確保在離開客戶家之前，一切都處於完美的狀態。 </p>
						<p>在敲敲裝修網，我們相信每位客戶的家都是我們的家。當您的家需要維護和修理時，我們會以同樣的關愛和奉獻精神來處理，我們的專業人員隨時為您提供協助，不論是晝夜、晴雨。</p>
						<a class="btn" id="moreBtn" href="#">更多資訊</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->