    <!-- FAQs Start -->
    <div class="faqs">
        <div class="container">
            <div class="section-header text-center">
                <h3>最常見問題</h3>
                <h2>您遇到的難題我們幫您解決</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="accordion-1">
                        <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">
                                    燈具修繕問題解決</a>
                            </div>
                            <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                                <div class="card-body">
                                    燈具修繕常遭遇到各種問題: 其中最常見的是電路老化、線路斷裂，以及燈罩損壞。<br />(1)針對電路老化，我們會仔細檢查所有電子元件，尤其是電容和電阻，進行更換以確保穩定的電源供應。<br /><br />(2)對於線路斷裂，我們擅長使用高效的焊接技術，將斷開的部分巧妙地連接起來，確保良好的電流通路。<br /><br />(3)至於燈罩損壞，則會根據燈具風格和材質提供多種修復或更換方案，以維持整體美觀。<br /><br />在解決問題的同時，我們也會對燈具設計和製作過程深入研究，確保每個修復都符合安全標準並能延長燈具壽命。我們以責任心和精湛技術，為客戶的燈飾問題提供可靠解決方案。</div>
                            </div>
                        </div>
                        <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo">
                                    地毯訂製及維護問題</a></div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                                <div class="card-body">
                                    地毯製造及維護，我們們經常面臨到地毯的磨損、染色問題以及污漬。<br />(1)對於磨損，我們會先評估地毯的材質和使用程度，然後提供修補或更換受損區域的方案，確保修復後的地毯外觀一致。<br /><br />(2)針對染色問題，我們會採用專業的染色技術，根據客戶要求進行顏色修復，確保地毯整體色調均勻。<br /><br />(3)在面對污漬時，我們會使用溫和且有效的清潔劑，針對不同的污漬類型進行處理，同時注意保護地毯纖維不受損。<br /><br />維護方面，我們會建議定期吸塵和定期深層清潔，以延長地毯壽命並保持清潔衛生。透過豐富的經驗和專業知識，我們致力於提供客戶高品質的地毯製造及維護服務。 </div>
                            </div>
                        </div>
                        <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">
                                    室內裝潢及修繕問題解決</a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                                <div class="card-body">室內裝潢及修繕問題，我們經常面臨到牆壁開裂、地板磨損、油漆脫落等問題。<br />(1)對於牆壁開裂，我們首先會仔細檢查裂縫的原因，可能是結構變形或水泥收縮。然後，我們會使用適當的填補材料進行修補，同時解決根本問題，確保修復持久耐用。<br /><br />(2)針對地板磨損，我們會根據地板材質提供修復或更換方案，並進行必要的翻新工作，使地板恢復原有光澤。<br /><br />(3)至於油漆脫落，我們會先清理表面，修補損壞處，然後進行重新油漆，確保表面平滑且美觀。<br /><br />在整個修繕過程中，我們注重使用高品質材料，並將修繕與設計相結合，為客戶提供優質室內環境。</div>
                            </div>
                        </div>
                        <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour">
                                    燈具購買及修繕問題解決</a>
                            </div>
                            <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                                <div class="card-body">
                                  燈具購買及修繕問題: 我們經常面臨到燈具故障、線路問題以及客戶對照明效果的需求。<br />(1)對於燈具故障，我們會迅速定位問題，可能是燈泡損壞或電路問題，進行更換或修復。<br /><br />(2)對於線路問題，我們會使用專業測試工具檢測並修復斷路或短路，確保安全電流通過。<br /><br />(3)在客戶對照明效果有特殊需求時，我們會提供多種方案，包括更換特殊燈罩、調整光線亮度或更換光源，以滿足客戶的個性化需求。<br /><br />同時，我們鼓勵客戶定期保養燈具，避免灰塵積累和燈泡老化，延長使用壽命。透過專業知識和細心服務，我們致力於為客戶提供高品質的燈具產品和解決方案。
                              </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="accordion-2">
                        <div class="card wow fadeInRight" data-wow-delay="0.2s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseSeven">水電問題修繕</a>
                            </div>
                            <div id="collapseSeven" class="collapse" data-parent="#accordion-2">
                                <div class="card-body">水電修繕問題: 我們經常面臨到漏水、水壓不足和管線阻塞等問題。<br />(1)對於漏水，我們會仔細檢查水源，迅速定位漏點，然後進行修補或更換受損的管件，確保水管系統正常運作。<br /><br />(2)對於水壓不足，我們會檢查水泵、水箱和管路，找出問題點，進行調整或更換損壞部分，以提高水壓。<br /><br />(3)在面對管線阻塞時，我們會使用專業的管道清潔工具或化學劑，清理管道內的積垢和堵塞物，保證水流順暢。<br /><br />此外，我們強調預防措施，建議定期檢查水管狀況，避免潛在的問題。透過專業的水電知識和經驗，我們致力於為客戶提供高效、可靠的水電修繕服務，確保住宅和商業環境的水電系統正常運轉。</div>
                            </div>
                        </div>
                        <div class="card wow fadeInRight" data-wow-delay="0.3s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseEight">鋁門窗修繕問題</a>
                            </div>
                            <div id="collapseEight" class="collapse" data-parent="#accordion-2">
                                <div class="card-body">鋁門窗修繕問題: 我們經常面臨到鋁材老化、門窗卡滯和密封問題等困擾。<br />(1)對於鋁材老化，我們會檢視鋁框和門窗表面，定期進行清潔和塗裝以防止氧化。若發現嚴重老化，則會進行鋁材更換，確保結構強度和外觀美觀。<br /><br />(2)對於門窗卡滯，我們會調查導軌和滑輪系統，清理塵垢，並進行潤滑保養，確保門窗開啟和關閉順暢。<br /><br />(3)對於密封問題，我們會檢查門窗周邊密封條，修補或更換損壞部分，以提升密封性，達到隔音和保溫效果。<br /><br />同時，我們提供客製化建議，如安裝氣密窗，以提高整體能效。透過專業技術和細緻維護，我們致力於為客戶提供耐久可靠的鋁門窗修繕服務，確保室內舒適度和安全性。</div>
                            </div>
                        </div>
                        <div class="card wow fadeInRight" data-wow-delay="0.4s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseNine">
                                    牆壁壁癌問題修繕
                                </a>
                            </div>
                            <div id="collapseNine" class="collapse" data-parent="#accordion-2">
                                <div class="card-body">牆壁壁癌修繕問題: 我們經常面臨牆壁潮濕、發霉及剝落等問題。<br />(1)對於牆壁潮濕，我們會追蹤水源，可能來自外牆滲水或管線漏水，解決問題後進行牆面防水處理。<br /><br />(2)對於發霉，我們會使用專業的防霉劑清理並定期檢查通風系統，同時提供改善室內通風的建議。<br /><br />(3)至於剝落問題，我們會先將受損部分清理，然後進行牆面修補和重新塗裝，使用高品質防水、防霉塗料確保修復效果持久。<br /><br />除此之外，我們強調整體牆體結構的檢查，避免潛在問題的再次發生。透過專業技術和經驗，我們致力於為客戶提供全方位的牆壁壁癌修繕服務，確保住宅或商業空間的健康環境。</div>
                            </div>
                        </div>
                        <div class="card wow fadeInRight" data-wow-delay="0.5s">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapseTen">浴室廚房修繕</a>
                            </div>
                            <div id="collapseTen" class="collapse" data-parent="#accordion-2">
                                <div class="card-body">
                                    浴室廚房修繕問題: 我們經常遇到漏水、排水堵塞和水龍頭漏水等問題。<br />(1)對於漏水，我們會仔細檢查水源，包括水管和防水層，進行必要的修補，確保防水效果。<br /><br />(2)對於排水堵塞，我們會使用專業的通渠工具或化學品，清理排水管道，並提供防堵建議，如定期使用濾網防止髮絲和雜物積聚。<br /><br />(3)至於水龍頭漏水，我們會檢查密封墊圈和螺絲，進行更換或調整，確保水龍頭緊密無漏。<br /><br />此外，我們強調定期檢查和維護，預防性地處理潛在問題，延長設備壽命。透過專業的技術和解決方案，我們致力於為客戶提供高品質的浴室廚房修繕服務。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQs End -->