    <!-- Footer Start -->
    <div class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-4">
                    <div class="footer-contact">
                        <h2>辦公室所在及聯絡資訊</h2>
                        <p><i class="fa fa-map-marker-alt"></i>台北市大安區建國南路二段231號</p>
                        <p><i class="fa fa-phone-alt"></i>0800-956956</p>
                        <p><i class="fa fa-envelope"></i>info@adudoo.cc</p>
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container footer-menu">
            <div class="f-menu">
                <a href="#">同意條款</a>
                <a href="#">隱私政策</a>               
                <a href="#">常見問題</a>
                <a href="index.html">回首頁</a>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="#">敲敲裝修(adudoo.cc)</a> 版權所有.</p>
                </div>
                <div class="col-md-6">
                    <p>設計由<a href="https://www.adudoo.cc">敲敲裝修</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
