            <!-- Portfolio Start -->
            <div class="portfolio">
                <div class="container">
                    <div class="section-header text-center">
                        <h3>我們的案例</h3>
                        <h2>查訪我們的成功案例</h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">全部</li>
                                <li data-filter=".first">已完工驗收</li>
                                <li data-filter=".second">正在進行中</li>
                                <li data-filter=".third">準備來案者</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row portfolio-container">
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="img/portfolio-1.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            無論您遇到的難題，我們都能盡力幫您解決...
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>台中七期客戶L</h3>
                                    <a class="btn" href="img/portfolio-1.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp" data-wow-delay="0.2s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="img/portfolio-2.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            【有報價就有服務，距離不是問題】，本公司專業團隊，皆有國家技術士證，可到府丈量估價，可開立發票非個人工作室。
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>台北萬華客戶W</h3>
                                    <a class="btn" href="img/portfolio-2.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp" data-wow-delay="0.3s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="img/portfolio-3.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            全省施工 聯絡電話隨打隨談，三群工班工作室能作室內裝修、塑膠地板裝修、塑膠地磚裝修、防焰壁紙裝修、滿鋪方塊地毯裝修、窗簾捲簾裝修。
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>新北土城重劃區客戶S</h3>
                                    <a class="btn" href="img/portfolio-3.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp" data-wow-delay="0.4s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="img/portfolio-4.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            本室工班是由木工師傅、水泥師傅、裝修師傅、設計師、塑膠地磚地板師傅、地毯師傅、壁紙師傅、窗簾師傅、油漆師傅、水電師傅...等，所組成的施工團隊，有25年以上的經驗專業師傅達人，全團隊共有專業師傅人數30餘人。
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>新北板橋客戶H</h3>
                                    <a class="btn" href="img/portfolio-4.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="img/portfolio-5.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            節能燈具汰換補助、汰舊換新節能設備補助、施工停車場感應燈、辦公室及營業場所LED燈具，安裝產品皆有節能標章認證，崁燈、平板燈、光板燈、燈管類燈具(格柵燈、山型燈、工事燈、中東燈、輕鋼架燈具、停車場感應燈具)、T5 LED、報價皆連工帶料含稅金，高架、挑高、夜間施工皆不另外收費。
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>台北內湖客戶W</h3>
                                    <a class="btn" href="img/portfolio-5.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp" data-wow-delay="0.6s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="img/portfolio-6.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            本工作室產品價格透明合理、物美平價、不會開低報高價、不會得標後灌水值得肯定信任、貨比三家不吃虧才知道我們價位有多實在，完善的售後熱心服務深獲買家信譽肯定、信用專業服務第一好評價。
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>新北土城客戶L</h3>
                                    <a class="btn" href="img/portfolio-6.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 load-more" style="font-size: 16px;">
                            <a class="btn" href="#">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Portfolio End -->