            <!-- Service Start -->
            <div class="service">
                <div class="container">
                    <div class="section-header text-center">
                        <h3>我們的服務</h3>
                        <h2>我們提供下列服務項目</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="img/service-1.jpg" alt="Image">
                                    <div class="service-overlay">
                                        <p>
                                         包括檢修電路系統、處理線路故障、更換損壞元件、提供安全檢測，確保電力系統運作穩定。我致力於快速響應客戶需求，提供高效而可靠的室內配電維修，確保用電安全，滿足客戶的各種電氣需求。 </p>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>室內配電維修</h3>
                                    <a class="btn" href="img/service-1.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="img/service-2.jpg" alt="Image">
                                    <div class="service-overlay">
                                        <p>
                                            提供一站式服務: 包括冷氣系統安裝、故障檢修、定期清潔保養，確保冷氣運作效能。 還提供全方位的冷氣清潔服務: 涵蓋冷氣機內外部的清潔，包括濾網、風扇、冷凝器等部分，以確保系統不受積塵、霉菌等影響，提高冷氣效能。 我們使用專業清潔劑，並確保清潔作業不損害任何零件。透過定期清潔，您的冷氣系統將更為環保、節能，同時提供更清新的室內空氣。
                                        </p>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>冷氣安裝維修清理</h3>
                                    <a class="btn" href="img/service-2.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="img/service-3.jpg" alt="Image">
                                    <div class="service-overlay">
                                        <p>
                                            方位服務包括檢修及修復瓦斯管道、水管系統和電路故障。我致力於迅速解決漏氣、水漏、短路等問題，確保家庭和工業場所的安全運作。此外，我還提供定期檢查和預防性維護，以防止潛在問題的發生。我的目標是提供高效、可靠的服務，確保客戶的瓦斯、水源和電力系統無憂運轉。
                                        </p>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>瓦斯水電維修</h3>
                                    <a class="btn" href="img/service-3.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="img/service-4.jpg" alt="Image">
                                    <div class="service-overlay">
                                        <p>
                                            我提供客製化的室內設計方案，包括空間規劃、色彩搭配、家具配置等。透過深度溝通，我能理解客戶需求，提供獨特而富有風格的設計方案。我注重細節，追求美感與實用性的平衡，以提升居住品質。
                                        </p>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>室內裝潢設計</h3>
                                    <a class="btn" href="img/service-4.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="img/service-5.jpg" alt="Image">
                                    <div class="service-overlay">
                                        <p>
                                            包括水管修復、水龍頭更換、裝修、防水處理等。透過專業技能，我能快速解決漏水、漏氣、水電故障等問題，確保廚房與衛浴環境安全運作。我致力於提供高效、可靠的修繕，以滿足客戶需求。
                                        </p>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>廚房衛浴修繕</h3>
                                    <a class="btn" href="img/service-5.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="img/service-6.jpg" alt="Image">
                                    <div class="service-overlay">
                                        <p>
                                            包括油漆修復、牆面補土、表面美化等。透過精湛技術，我能令受損表面恢復如新，並提供色彩建議。我致力於高質感的工藝，確保客戶滿意。無論是室內或室外，我提供全面的美化方案，從而為客戶創造一個宜居且令人愉悅的空間。
                                        </p>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>油漆補土美化</h3>
                                    <a class="btn" href="img/service-6.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Service End -->
